* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 70px;
}

.forsideknap {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
