* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.centered {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 70px;
  font-family: "montserrat";
}

.forsideknap {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forsidegrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin: auto;
  margin-block: 60px;
  width: 80%;
  place-content: center;
}

.tekstgrid {
  font-family: "Montserrat";
  font-weight: bolder;
  position: absolute;
  color: white;
  font-size: 35px;
  margin: auto;
  text-align: center;
  margin-top: 140px;
  width: 18%;
}

.shadow {
  box-shadow: 3px 3px blue;
  text-align: center;
}
