---
import Button from "../components/Button.astro";
import Foooter from "../components/Foooter.astro";
import Header from "../components/Header.astro";
import CountDown from "../components/CountDown.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="public/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="src/styles/index.css" />
    <title>Kune</title>
  </head>
  <body>
    <Header />
    <img src="" alt="" />
    <h1 class="centered">KUNE FESTIVAL</h1>
    <div class="forsideknap"><Button /></div>
    <img class="baggrund" src="/blå.png" alt="forside" />

    <CountDown />

    <section>
      <div class="forsidegrid">
        <div class="shadow">
          <h1 class="tekstgrid">LINEUP</h1>
          <a href="lineup"><img src="/forsidebillede1.webp" alt="billede" /></a>
        </div>

        <div class="shadow">
          <h1 class="tekstgrid">VOLUNTEER</h1>
          <a href="volunteer"><img src="/forsidebillede2.webp" alt="billede" /></a>
        </div>

        <div class="shadow">
          <h1 class="tekstgrid">COMPONENTS</h1>
          <a href="components"><img src="/forsidebillede3.webp" alt="billede" /></a>
        </div>

        <div class="shadow">
          <h1 class="tekstgrid">ABOUT</h1>
          <a href="about"><img src="/forsidebillede4.webp" alt="billede" /></a>
        </div>
      </div>
    </section>

    <Foooter />
  </body>
</html>
