---
import Button from "../components/Button.astro";
import Foooter from "../components/Foooter.astro";
import Header from "../components/Header.astro";
import CountDown from "../components/CountDown.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="src/styles/index.css" />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <img src="" alt="" />
    <h1>KUNE FESTIVAL</h1>
    <img class="baggrund" src="public/blå.png" alt="forside" />
    <CountDown />
       <Button />
    <Foooter />
  </body>
</html>
