---
import Button from "../components/Button.astro";
import Foooter from "../components/Foooter.astro";
import Header from "../components/Foooter.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <img src="" alt="" />
    <h1>KUNE FESTIVAL</h1>
    <a href="src/pages/volunteer.astro">Volunteer</a>
    <a href="src/pages/lineup.astro">Lineup</a>
    <a href="src/pages/shop.astro">Shop</a>
    <Foooter />
    <Button />
    <CountDown/>
  </body>
</html>
