---
import Button from "../components/Button.astro";
import Buttonlineup from "../components/Buttonlineup.astro";
import Foooter from "../components/Foooter.astro";
import Header from "../components/Header.astro";
import LineupCard from "../components/LineupCard.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="public/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="src/styles/lineup.css" />
    <title>Lineup</title>
  </head>
  <body>
    <Header />
    <img src="lineupbaggrund.png" alt="baggrundsbillede" />
    <h1 class="centered1">LINEUP</h1>
    <Buttonlineup />
    <LineupCard />
    <LineupCard />
    <Foooter />
  </body>
</html>
