---
---

<main>
  <a href="shop"><button class="button">Get Tickets</button></a>
</main>

<style>
  .button {
    border: 2px solid blue;
    border-radius: 1rem;
    padding: 1rem;
    padding-inline: 1.5rem;
    background-color: white;
    text-align: center;
    color: blue;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 3px 3px 5px white;
    cursor: pointer;
    font-family: "montserrat";
  }
  .button:hover {
    background-color: blue;
    color: white;
  }
</style>
