---
---

<main>
  <a href="#"><button class="button1">Onsdag</button></a>
  <a href="#"><button class="button2">Torsdag</button></a>
  <a href="#"><button class="button3">Fredag</button></a>
  <a href="#"><button class="button4">Lørdag</button></a>
  <a href="#"><button class="button5">Søndag</button></a>
</main>

<style>
  main {
    text-align: center;
  }

  button {
    margin: 3rem;
  }
  .button1 {
    border: 2px solid blue;
    border-radius: 1rem;
    padding: 1rem;
    padding-inline: 1.5rem;
    background-color: white;
    color: blue;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 3px 3px 5px white;
    cursor: pointer;
    font-family: "montserrat";
  }
  .button2 {
    border: 2px solid blue;
    border-radius: 1rem;
    padding: 1rem;
    padding-inline: 1.5rem;
    background-color: white;
    color: blue;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 3px 3px 5px white;
    cursor: pointer;
    font-family: "montserrat";
  }
  .button3 {
    border: 2px solid blue;
    border-radius: 1rem;
    padding: 1rem;
    padding-inline: 1.5rem;
    background-color: white;
    color: blue;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 3px 3px 5px white;
    cursor: pointer;
    font-family: "montserrat";
  }
  .button4 {
    border: 2px solid blue;
    border-radius: 1rem;
    padding: 1rem;
    padding-inline: 1.5rem;
    background-color: white;
    color: blue;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 3px 3px 5px white;
    cursor: pointer;
    font-family: "montserrat";
  }
  .button5 {
    border: 2px solid blue;
    border-radius: 1rem;
    padding: 1rem;
    padding-inline: 1.5rem;
    background-color: white;
    color: blue;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 3px 3px 5px white;
    cursor: pointer;
    font-family: "montserrat";
  }
</style>
