---
---

<p id="countdown">
  <section class="container">
    <div class="countdown_container">
      <p id="days"></p>
      <p class="text">DAYS</p>
    </div>
    <div class="countdown_container">
      <p id="hours"></p>
      <p class="text">HOURS</p>
    </div>
    <div class="countdown_container">
      <p id="minutes"></p>
      <p class="text">MINUTES</p>
    </div>
    <div class="countdown_container">
      <p id="seconds"></p>
      <p class="text">SECONDS</p>
    </div>
  </section>
</p>

<style>
  .container {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    color: #39ff16;
    background: black;
    padding-top: 150px;
    padding-bottom: 150px;
    font-family: "Montserrat", sans-serif;
  }
.countdown_container {
  display: flex;
  margin-left: 20px;
}
.text{
font-size: 16px;
font-weight: 100;
}
</style>

<script>
  const countDownDate = new Date("Jul 19, 2023 10:00:00").getTime();

  const x = setInterval(function () {
    const now = new Date().getTime();

    const distance = countDownDate - now;

    const days = Math.floor(distance / (1000 * 60 * 60 * 24));
    const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((distance % (1000 * 60)) / 1000);

    document.getElementById("days").innerHTML = days + " ";
    document.getElementById("hours").innerHTML = hours + " ";
    document.getElementById("minutes").innerHTML = minutes + " ";
    document.getElementById("seconds").innerHTML = seconds + " ";

    if (distance < 0) {
      clearInterval(x);
      document.getElementById("countdown").innerHTML = "0";
    }
  }, 1000);
</script>
