---
---

<p id="countdown"></p>

<style>
  p {
    text-align: center;
    font-size: 50px;
    color: #39ff16;
    background: black;
    padding-top: 150px;
    padding-bottom: 150px;
    font-family: "Montserrat", sans-serif;
  }

  
</style>

<script>
  // Sæt datoen der tælles ned til
  const countDownDate = new Date("Jul 19, 2023 10:00:00").getTime();

  // Opdater hver sekund
  const x = setInterval(function () {
    // Get today's date and time
    const now = new Date().getTime();

    // Find differencen mellem datoen og nu
    const distance = countDownDate - now;

    // Tæller for dage, timer, minutter og sekunder
    const days = Math.floor(distance / (1000 * 60 * 60 * 24));
    const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Resultat i element med id "countdown"
    document.getElementById("countdown").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

    // hvis nedtælling går i 0
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("countdown").innerHTML = "EXPIRED";
    }
  }, 1000);
</script>
