<main>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="icons">
<a href="https://www.facebook.com/kunekbh" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="https://www.google.com/search?q=kune+festival&sxsrf=AJOqlzWIT9C4yJhnytwDLEmMN5c0BRMS0A%3A1679055822353&source=hp&ei=zlsUZNSBE-Gpxc8P2u270Ag&iflsig=AK50M_UAAAAAZBRp3o-mxj3y5QPm7bnYT31k40TV39q3&ved=0ahUKEwjUoOOu-uL9AhXhVPEDHdr2DooQ4dUDCAc&uact=5&oq=kune+festival&gs_lcp=Cgdnd3Mtd2l6EAMyBAgjECcyBAgjECcyBQgAEIAEMgUIABCABDIICAAQgAQQywEyBQgAEIAEMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB46CgguEMcBEK8BECc6EQguEIMBEK8BEMcBELEDEIAEOgUILhCABDoLCAAQgAQQsQMQgwE6CAgAEIAEELEDOggIABCxAxCDAToKCAAQsQMQgwEQQzoECAAQQzoKCC4QsQMQ1AIQQzoECC4QQzoOCC4QgAQQsQMQxwEQrwE6BwgAEIAEEAo6CggAEIAEEAoQywE6DQguEK8BEMcBEIAEEApQAFjpD2C1FWgAcAB4AIABZIgBsQiSAQQxMi4xmAEAoAEB&sclient=gws-wiz" class="fa fa-google"></a>
<a href="https://www.instagram.com/kunekbh/?hl=da" class="fa fa-instagram"></a>
</div>
</main>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.fa {
  padding: 10px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 60%;
}

.icons{
  margin: auto;
  width: 100%;
   padding: 20px;
  border-top: 2px solid black;
  text-align: center;
}

.fa-facebook {
  background: black;
  color: white;
}

.fa-twitter {
  background: black;
  color: white;
}

.fa-google {
  background: black;
  color: white;
}

.fa-instagram {
  background: black;
  color: white;
}
</style>