---
---

<header>
  <nav class "main-menu">
    <ul class"menu">
      <li>
        <a href="shop.astro">Shop</a>
      </li>
      <li>
        <a href="volunteer.astro">Volunteer</a>
      </li>
      <li>
        <a href="lineup.astro">Lineup</a>
      </li>
      <li>
        <a href="index.astro">Hjem</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    align-items: center;
    font-family: "Montserrat", sans-serif;
    padding-right: 2rem;
  }
  li {
    display: inline;
    float: right;
  }
  a {
    display: block;
    padding: 20px;
  }

  li a {
    color: black;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
  }
</style>
