---

---

<img class="artist" src="/forsidebillede1.webp" alt="Kunstner">
<h2>July</h2>
<p class="date">19</p>
<p class="day">Monday</p>
<p class="time">23:00 - 00:00</p>

<style>
    img {
        width: 20%;
    }

    p, h2 {
        color: #39ff16;
    }
</style>