---
const { image, date, day, timeofday } = Astro.props;
console.log(image, date, day, timeofday);
---

<article class="lineupcard">
  <img src={image} alt="" />

  <div>
    <h2>July</h2>
    <div class="grid">
      <p class="date">{date}</p>
      <p class="day">{day} <span>{timeofday}</span></p>
    </div>
  </div>
</article>

<style>
  article {
    display: grid;
  }
  article img {
    width: 100%;
  }
  article > * {
    grid-column: 1;
    grid-row: 1;
  }

  .lineupcard {
    margin: 2rem;
  }
  div {
    display: grid;
    width: 100%;
    grid-template-rows: 2rem;
    grid-template-columns: auto 1fr;
    align-items: start;
  }
  .grid {
    display: flex;
  }
  div img {
    width: 100%;
  }
  span {
    display: block;
  }
  h2 {
    grid-column: 1/-1;
  }
  img {
    width: 20%;
  }

  p,
  h2 {
    color: #39ff16;
    font-family: "montserrat";
  }

  .date {
    font-weight: 600;
    font-size: 40px;
    margin-top: 15px;
  }

  h2 {
    font-size: 35px;
  }

  .day {
    margin-top: 20px;
    margin-left: 10px;
  }
</style>
