---

---

<img src="/forsidebillede1.webp" alt="Kunstner">
<h2>July</h2>
<p>19</p>
<p>Monday</p>
<p>23:00 - 00:00</p>

<style>
    img {
        width: 20%;
    }

    p, h2 {
        color: green;
    }
</style>